*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
        /* display: block; */
        justify-content: center;
        align-items: center;
        min-height: 100vh fit-content;
        font-family:Pixelify Sans ;
}
.logo{
    display: flex;
    background-color: #424530;
    margin: 0 auto;

}
.logo img{
    height: 150px;
    margin-left: 20px
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffefcd;
    padding-top: 50px;
   
}

.wrapper {
    display: block;
    align-items: center;
    text-align: center;
    width: 400px;
    padding: 10px;
    background-color: #e0923247;
    border-radius: 3rex;
    

}

/* .form {
        display: block;
        padding: 1rem;
        max-width: 350px;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    } */
.form .title {
    padding: 10px 0 5px 0;
    color: aliceblue;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
 
}

.firstname {
    display: block;
    padding: 5px;
}

.firstname label{
    font-size: 16px;
    color: white;
}


.firstname input {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    border-radius: 1rem;
    border: none;
    align-items: center;
    box-shadow: 0 2px 2px 1px;

}

.lastname{
    display: block;
    padding: 5px;
}

.lastname label{
    font-size: 16px;
    color: white;
}

.lastname input{
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    border-radius: 1rem;
    border: none;
    align-items: center;
    box-shadow: 0 2px 2px 1px;
}


.email {
    display: block;
    padding: 5px;
}

.email label {
    font-size: 16px;
    color: white;
}
.email input {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    border-radius: 1rem;
    border: none;
    align-items: center;
    box-shadow: 0 2px 2px 1px;
}

.password {
    display: block;
    padding: 5px;
}

.password label {
    font-size: 16px;
    color: white;
}

.password input {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    border-radius: 1rem;
    border: none;
    align-items: center;
    box-shadow: 0 2px 2px 1px;
}

.number {
    display: block;
    padding: 5px;
}

.number label {
    font-size: 16px;
    color: white;
}

.number input {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    border-radius: 1rem;
    border: none;
    align-items: center;
    box-shadow: 0 2px 2px 1px;
}

.gender {
    display: block;
    padding: 5px;
    
}

.gender label {
    font-size: 16px;
    color: white;
}

.gender input {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    border-radius: 1rem;
    border: none;
    align-items: center;
    
}

.buttons{
    padding: 10px;
    border:;
}
.buttons button{
    font-family: Pixelify Sans;
    font-size: 18px;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4rex;
    background-color: rgb(18, 54, 239);
}
.buttons button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

}




